.calendar-day {
	border: 1px solid;
	width: 10rem;
	height: 8rem;
}

.table-header {
	color: white;
	background-color: rgb(43 43 220);
	font-weight: initial;
	font-size: 12pt;
}

.weekend-day {
	color: rgb(43 43 220);
	background-color: rgb(224 221 221 / 58%);
}

.week-header {
	border: 1px solid white;
	height: 30px;
	padding: 0% !important;
	vertical-align: middle !important;
}

.reminder-input {
	width: 100%;
	border: 0px;
	border-bottom: 1px solid rgb(26, 23, 23);
}

.reminder-input-date {
	width: 50%;
	border: 0px;
	border-bottom: 1px solid rgb(26, 23, 23);
}

.reminder-input:focus {
	border: 0px;
	border-bottom: 1px solid rgb(26, 23, 23);
	outline: none;
}

.reminder-view {
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 5px;
	margin-bottom: 5px;
	color: #fff;
	font-size: 10pt;
	font-weight: bold;
}

.current-day {
	margin-bottom: 5px;
}

.reminder-add-icon {
	cursor: pointer;
}
