.calendar-day {
	border: 1px solid;
	width: 10rem;
	max-width: 158px;
	height: 8rem;
	max-height: 128px;
}

.table-header {
	color: white;
	background-color: rgb(43 43 220);
	font-weight: initial;
	font-size: 12pt;
}

.weekend-day {
	color: rgb(43 43 220);
	background-color: rgb(224 221 221 / 58%);
}

.week-header {
	border: 1px solid white;
	height: 30px;
	padding: 0% !important;
	vertical-align: middle !important;
}

.reminder-input {
	width: 100%;
	border: 0px;
	border-bottom: 1px solid rgb(26, 23, 23);
}

.reminder-input-date {
	width: 50%;
	border: 0px;
	border-bottom: 1px solid rgb(26, 23, 23);
}

.reminder-input:focus {
	border: 0px;
	border-bottom: 1px solid rgb(26, 23, 23);
	outline: none;
}

.reminder-view {
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 5px;
	margin-bottom: 5px;
	color: #fff;
	font-size: 10pt;
	cursor: pointer;
	font-weight: bold;
}

.current-day {
	margin-bottom: 5px;
}

.reminder-add-icon {
	cursor: pointer;
}

.location-box .location {
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	text-shadow: 1px 1px rgba(50, 50, 70, 0.5);
}

.location-box .date {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	font-style: italic;
	text-align: center;
	text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
	text-align: center;
}

.weather-box .temp {
	position: relative;
	display: inline-block;
	margin: 30px auto;
	/*background-color: rgba(255, 255, 255, 0.2);*/
	border-radius: 16px;
	padding: 5px 10px;
	font-size: 35px;
	font-weight: 900;
	text-align: center;
	margin-bottom: 11px;
	margin-top: 11px;
}

.weather-box .weather {
	font-size: 18px;
	font-weight: 700;
	text-shadow: 1px 1px rgba(50, 50, 70, 0.5);
}

.today {
	background-color: rgb(43 43 220);
	color: #fff;
	border-radius: 3px;
	padding: 2px;
	padding-bottom: 1px;
	padding-top: 1px;
}

.month-title {
	font-size: 35px;
	font-weight: 500;
	text-align: center;
}

.year-title {
	font-size: 25px;
	font-weight: 500;
	text-align: center;
}

.change-month {
	font-size: 18pt;
	color: rgb(43 43 220);
	cursor: pointer;
}

.weather-error {
	text-align: center;
	font-size: 16pt;
	font-weight: 500;
	text-transform: capitalize;
}

.require-error {
	border-color: red;
}
